
<mat-dialog-content>
    <div class="modal-container">
        <div class="main-box">
            <button class="btn select-mode-btn">Play with the computer</button>
            <button class="btn select-mode-btn">Play with a friend</button>
    
            <div class="button-box">
                <button class="btn"><img src="assets/white_pawn.svg" alt="" height="80px"></button>
                <button class="btn"><img src="assets/white_and_black_pawn.svg" alt="" height="96px"></button>
                <button class="btn"><img src="assets/black_pawn.svg" alt="" height="80px"></button>
            </div>
        </div>
    </div>
</mat-dialog-content>
