.recorded-moves-entry {
    display: flex;
    gap: 10px 10px;
    justify-content: flex-start;
}

.move-number {
    flex-grow: 1;
    flex-basis: 10px
}

.move {
    flex-grow: 3;
    flex-basis: 40px
}