<div class="main-container">
    <div class="board-box">
        <app-board></app-board>
    </div>
    <div class="control-panel">
        <div class="opponent-captures-box"><app-opponent-captures></app-opponent-captures></div>
        <div class="recorded-moves-box"><app-recorded-moves></app-recorded-moves></div>
        <div class="controls-box"><app-controls></app-controls></div>
        <div class="player-captures-box"><app-player-captures></app-player-captures></div>
        <div class="message-box"><app-message></app-message></div>
        <div class="rematch-box"><app-rematch></app-rematch></div>
    </div>
</div>