.main-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    /* height: 700px;  */
    background-color: #20363F;
    display: grid;
    justify-content: center;

    grid-template-columns: 700px 240px;
    grid-template-rows: 700px;
    /* grid-template-columns: 3fr 1fr; */
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.control-panel {
    align-self: center;
}

/* use flex here? */

.recorded-moves-box {
    margin-top: 20px;
    color: lightgrey;
    background-color: #36555D;
    /* align-self: center; */
    height: 300px;
    padding: 5px;
    overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {}

.controls-box {
    margin-top: 20px
}

.message-box {
    color: lightgrey;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px
}

.rematch-box {
    margin-top: 20px
}

.player-captures-box {
    margin-top: 20px;
    color: lightgrey;
}

.opponent-captures-box {
    color: lightgrey;
}