.main-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    /* height: 700px;  */
    background-color: #20363F;
    display: grid;
    justify-content: center;

    grid-template-columns: 700px 240px;
    grid-template-rows: 700px;
    /* grid-template-columns: 3fr 1fr; */
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.control-panel {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recorded-moves-box {
    color: lightgrey;
    background-color: #36555D;
    height: 300px;
    padding: 5px;
    overflow: auto;
    border-radius: 2px;
}

.recorded-moves {
    display: flex;
    flex-direction: column;
}

/* scroll width */
::-webkit-scrollbar {
    width: 10px;
}

/* scroll track */
::-webkit-scrollbar-track {
    background-color: lightgray;
}

/* scroll handle */
::-webkit-scrollbar-thumb {
    background: #777;
}

.message-box {
    color: lightgrey;
    font-size: 14px;
    font-weight: 400;
}
