<div *ngIf="visible()" id="wrapper" [style.width.px]="width" [style.height.px]="height">
    <div [style.margin-left.px]="getSelectorLocation()">
        <div [style.height.px]="fieldSize()" [style.width.px]="fieldSize()" style="background-color: white; border: 2px solid red;"></div>
        <div [style.height.px]="fieldSize()" [style.width.px]="fieldSize()" style="background-color: white; border: 2px solid red;"></div>
        <div [style.height.px]="fieldSize()" [style.width.px]="fieldSize()" style="background-color: white; border: 2px solid red;"></div>
        <div [style.height.px]="fieldSize()" [style.width.px]="fieldSize()" style="background-color: white; border: 2px solid red;"></div>
    </div>
</div>
