<div>
    <!-- <button 
      class="btn btn-primary"
      (click)="onConnect()">connect</button> &nbsp;
    <button 
        class="btn btn-danger"
        (click)="onDisconnect()">disconnect</button> 
    <br><br> -->
    <button 
      class="btn btn-primary"    
      (click)="onGameStart('free_mode')">free mode</button>
      &nbsp;
    <button 
      class="btn btn-primary"    
      (click)="onGameStart('hot_seat')">hot seat</button>
      &nbsp;
    <button 
      class="btn btn-primary"    
      (click)="onGameStart('vs_computer')">vs computer</button>
      &nbsp;
    <br><br>
    
    <button 
      class="btn btn-primary"    
      (click)="onUndo()"><-</button>&nbsp;
    <button 
      class="btn btn-primary"    
      (click)="onRedo()">-></button>
    <br><br> 
</div>