<div style="width: 640px; height: 640px;position: relative; left: 50px">
    <label style="position: absolute; top:60px; left:-20px;">8</label>
    <label style="position: absolute; top:140px; left:-20px;">7</label>
    <label style="position: absolute; top:220px; left:-20px;">6</label>
    <label style="position: absolute; top:300px; left:-20px;">5</label>    
    <label style="position: absolute; top:380px; left:-20px;">4</label>
    <label style="position: absolute; top:460px; left:-20px;">3</label>
    <label style="position: absolute; top:540px; left:-20px;">2</label>
    <label style="position: absolute; top:620px; left:-20px;">1</label>

    <label style="position: absolute; top:650px; left:60px;">a</label>
    <label style="position: absolute; top:650px; left:140px;">b</label>
    <label style="position: absolute; top:650px; left:220px;">c</label>
    <label style="position: absolute; top:650px; left:300px;">d</label>
    <label style="position: absolute; top:650px; left:380px;">e</label>
    <label style="position: absolute; top:650px; left:460px;">f</label>
    <label style="position: absolute; top:650px; left:540px;">g</label>
    <label style="position: absolute; top:650px; left:620px;">h</label>

    <div id="h1" class="field field-light" style="top:0px; left:0px;">B_Q</div>
    <div id="h2" class="field field-dark" style="top:0px; left:80px;">W_K</div>
    <div id="h3" class="field field-light" style="top:0px; left:160px;"></div>
    <div id="h4" class="field field-dark" style="top:0px; left:240px;"></div>
    <div id="h5" class="field field-light" style="top:0px; left:320px;"></div>
    <div id="h6" class="field field-dark" style="top:0px; left:400px;"></div>
    <div id="h7" class="field field-light" style="top:0px; left:480px;"></div>
    <div id="h8" class="field field-dark" style="top:0px; left:560px;"></div>

    <div id="g1" class="field field-dark" style="top:80px; left:0px;"></div>
    <div id="g2" class="field field-light" style="top:80px; left:80px;"></div>
    <div id="g3" class="field field-dark" style="top:80px; left:160px;"></div>
    <div id="g4" class="field field-light" style="top:80px; left:240px;"></div>
    <div id="g5" class="field field-dark" style="top:80px; left:320px;"></div>
    <div id="g6" class="field field-light" style="top:80px; left:400px;"></div>
    <div id="g7" class="field field-dark" style="top:80px; left:480px;"></div>
    <div id="g8" class="field field-light" style="top:80px; left:560px;"></div>

    <div id="f1" class="field field-light" style="top:160px; left:0px;"></div>
    <div id="f2" class="field field-dark" style="top:160px; left:80px;"></div>
    <div id="f3" class="field field-light" style="top:160px; left:160px;"></div>
    <div id="f4" class="field field-dark" style="top:160px; left:240px;"></div>
    <div id="f5" class="field field-light" style="top:160px; left:320px;"></div>
    <div id="f6" class="field field-dark" style="top:160px; left:400px;"></div>
    <div id="f7" class="field field-light" style="top:160px; left:480px;"></div>
    <div id="f8" class="field field-dark" style="top:160px; left:560px;"></div>

    <div id="e1" class="field field-dark" style="top:240px; left:0px;"></div>
    <div id="e2" class="field field-light" style="top:240px; left:80px;"></div>
    <div id="e3" class="field field-dark" style="top:240px; left:160px;"></div>
    <div id="e4" class="field field-light" style="top:240px; left:240px;"></div>
    <div id="e5" class="field field-dark" style="top:240px; left:320px;"></div>
    <div id="e6" class="field field-light" style="top:240px; left:400px;"></div>
    <div id="e7" class="field field-dark" style="top:240px; left:480px;"></div>
    <div id="e8" class="field field-light" style="top:240px; left:560px;"></div>

    <div id="d1" class="field field-light" style="top:320px; left:0px;"></div>
    <div id="d2" class="field field-dark" style="top:320px; left:80px;"></div>
    <div id="d3" class="field field-light" style="top:320px; left:160px;"></div>
    <div id="d4" class="field field-dark" style="top:320px; left:240px;"></div>
    <div id="d5" class="field field-light" style="top:320px; left:320px;"></div>
    <div id="d6" class="field field-dark" style="top:320px; left:400px;"></div>
    <div id="d7" class="field field-light" style="top:320px; left:480px;"></div>
    <div id="d8" class="field field-dark" style="top:320px; left:560px;"></div>

    <div id="c1" class="field field-dark" style="top:400px; left:0px;"></div>
    <div id="c2" class="field field-light" style="top:400px; left:80px;"></div>
    <div id="c3" class="field field-dark" style="top:400px; left:160px;"></div>
    <div id="c4" class="field field-light" style="top:400px; left:240px;"></div>
    <div id="c5" class="field field-dark" style="top:400px; left:320px;"></div>
    <div id="c6" class="field field-light" style="top:400px; left:400px;"></div>
    <div id="c7" class="field field-dark" style="top:400px; left:480px;"></div>
    <div id="c8" class="field field-light" style="top:400px; left:560px;"></div>

    <div id="b1" class="field field-light" style="top:480px; left:0px;"></div>
    <div id="b2" class="field field-dark" style="top:480px; left:80px;"></div>
    <div id="b3" class="field field-light" style="top:480px; left:160px;"></div>
    <div id="b4" class="field field-dark" style="top:480px; left:240px;"></div>
    <div id="b5" class="field field-light" style="top:480px; left:320px;"></div>
    <div id="b6" class="field field-dark" style="top:480px; left:400px;"></div>
    <div id="b7" class="field field-light" style="top:480px; left:480px;"></div>
    <div id="b8" class="field field-dark" style="top:480px; left:560px;"></div>

    <div id="a1" class="field field-dark" style="top:560px; left:0px;"></div>
    <div id="a2" class="field field-light" style="top:560px; left:80px;"></div>
    <div id="a3" class="field field-dark" style="top:560px; left:160px;"></div>
    <div id="a4" class="field field-light" style="top:560px; left:240px;"></div>
    <div id="a5" class="field field-dark" style="top:560px; left:320px;"></div>
    <div id="a6" class="field field-light" style="top:560px; left:400px;"></div>
    <div id="a7" class="field field-dark" style="top:560px; left:480px;"></div>
    <div id="a8" class="field field-light" style="top:560px; left:560px;"></div>
</div>