<div style="width: 640px; height: 640px;position: relative; left: 50px">
    <label style="position: absolute; top:60px; left:-20px;">8</label>
    <label style="position: absolute; top:140px; left:-20px;">7</label>
    <label style="position: absolute; top:220px; left:-20px;">6</label>
    <label style="position: absolute; top:300px; left:-20px;">5</label>
    <label style="position: absolute; top:380px; left:-20px;">4</label>
    <label style="position: absolute; top:460px; left:-20px;">3</label>
    <label style="position: absolute; top:540px; left:-20px;">2</label>
    <label style="position: absolute; top:620px; left:-20px;">1</label>

    <label style="position: absolute; top:650px; left:60px;">a</label>
    <label style="position: absolute; top:650px; left:140px;">b</label>
    <label style="position: absolute; top:650px; left:220px;">c</label>
    <label style="position: absolute; top:650px; left:300px;">d</label>
    <label style="position: absolute; top:650px; left:380px;">e</label>
    <label style="position: absolute; top:650px; left:460px;">f</label>
    <label style="position: absolute; top:650px; left:540px;">g</label>
    <label style="position: absolute; top:650px; left:620px;">h</label>

    <div id="a8" class="field field-light" style="top:0px; left:0px;">{{ this.getPieceAt("a8") }}</div>
    <div id="b8" class="field field-dark" style="top:0px; left:80px;">{{ this.getPieceAt("b8") }}</div>
    <div id="c8" class="field field-light" style="top:0px; left:160px;">{{ this.getPieceAt("c8") }}</div>
    <div id="d8" class="field field-dark" style="top:0px; left:240px;">{{ this.getPieceAt("d8") }}</div>
    <div id="e8" class="field field-light" style="top:0px; left:320px;">{{ this.getPieceAt("e8") }}</div>
    <div id="f8" class="field field-dark" style="top:0px; left:400px;">{{ this.getPieceAt("f8") }}</div>
    <div id="g8" class="field field-light" style="top:0px; left:480px;">{{ this.getPieceAt("g8") }}</div>
    <div id="h8" class="field field-dark" style="top:0px; left:560px;">{{ this.getPieceAt("h8") }}</div>

    <div id="a7" class="field field-dark" style="top:80px; left:0px;">{{ this.getPieceAt("a7") }}</div>
    <div id="b7" class="field field-light" style="top:80px; left:80px;">{{ this.getPieceAt("b7") }}</div>
    <div id="c7" class="field field-dark" style="top:80px; left:160px;">{{ this.getPieceAt("c7") }}</div>
    <div id="d7" class="field field-light" style="top:80px; left:240px;">{{ this.getPieceAt("d7") }}</div>
    <div id="e7" class="field field-dark" style="top:80px; left:320px;">{{ this.getPieceAt("e7") }}</div>
    <div id="f7" class="field field-light" style="top:80px; left:400px;">{{ this.getPieceAt("f7") }}</div>
    <div id="g7" class="field field-dark" style="top:80px; left:480px;">{{ this.getPieceAt("g7") }}</div>
    <div id="h7" class="field field-light" style="top:80px; left:560px;">{{ this.getPieceAt("h7") }}</div>

    <div id="a6" class="field field-light" style="top:160px; left:0px;">{{ this.getPieceAt("a6") }}</div>
    <div id="b6" class="field field-dark" style="top:160px; left:80px;">{{ this.getPieceAt("b6") }}</div>
    <div id="c6" class="field field-light" style="top:160px; left:160px;">{{ this.getPieceAt("c6") }}</div>
    <div id="d6" class="field field-dark" style="top:160px; left:240px;">{{ this.getPieceAt("d6") }}</div>
    <div id="e6" class="field field-light" style="top:160px; left:320px;">{{ this.getPieceAt("e6") }}</div>
    <div id="f6" class="field field-dark" style="top:160px; left:400px;">{{ this.getPieceAt("f6") }}</div>
    <div id="g6" class="field field-light" style="top:160px; left:480px;">{{ this.getPieceAt("g6") }}</div>
    <div id="h6" class="field field-dark" style="top:160px; left:560px;">{{ this.getPieceAt("h6") }}</div>

    <div id="a5" class="field field-dark" style="top:240px; left:0px;">{{ this.getPieceAt("a5") }}</div>
    <div id="b5" class="field field-light" style="top:240px; left:80px;">{{ this.getPieceAt("b5") }}</div>
    <div id="c5" class="field field-dark" style="top:240px; left:160px;">{{ this.getPieceAt("c5") }}</div>
    <div id="d5" class="field field-light" style="top:240px; left:240px;">{{ this.getPieceAt("d5") }}</div>
    <div id="e5" class="field field-dark" style="top:240px; left:320px;">{{ this.getPieceAt("e5") }}</div>
    <div id="f5" class="field field-light" style="top:240px; left:400px;">{{ this.getPieceAt("f5") }}</div>
    <div id="g5" class="field field-dark" style="top:240px; left:480px;">{{ this.getPieceAt("g5") }}</div>
    <div id="h5" class="field field-light" style="top:240px; left:560px;">{{ this.getPieceAt("h5") }}</div>

    <div id="a4" class="field field-light" style="top:320px; left:0px;">{{ this.getPieceAt("a4") }}</div>
    <div id="b4" class="field field-dark" style="top:320px; left:80px;">{{ this.getPieceAt("b4") }}</div>
    <div id="c4" class="field field-light" style="top:320px; left:160px;">{{ this.getPieceAt("c4") }}</div>
    <div id="d4" class="field field-dark" style="top:320px; left:240px;">{{ this.getPieceAt("d4") }}</div>
    <div id="e4" class="field field-light" style="top:320px; left:320px;">{{ this.getPieceAt("e4") }}</div>
    <div id="f4" class="field field-dark" style="top:320px; left:400px;">{{ this.getPieceAt("f4") }}</div>
    <div id="g4" class="field field-light" style="top:320px; left:480px;">{{ this.getPieceAt("g4") }}</div>
    <div id="h4" class="field field-dark" style="top:320px; left:560px;">{{ this.getPieceAt("h4") }}</div>

    <div id="a2" class="field field-dark" style="top:400px; left:0px;">{{ this.getPieceAt("a3") }}</div>
    <div id="b3" class="field field-light" style="top:400px; left:80px;">{{ this.getPieceAt("b3") }}</div>
    <div id="c3" class="field field-dark" style="top:400px; left:160px;">{{ this.getPieceAt("c3") }}</div>
    <div id="d3" class="field field-light" style="top:400px; left:240px;">{{ this.getPieceAt("d3") }}</div>
    <div id="e3" class="field field-dark" style="top:400px; left:320px;">{{ this.getPieceAt("e3") }}</div>
    <div id="f3" class="field field-light" style="top:400px; left:400px;">{{ this.getPieceAt("f3") }}</div>
    <div id="g3" class="field field-dark" style="top:400px; left:480px;">{{ this.getPieceAt("h3") }}</div>
    <div id="h3" class="field field-light" style="top:400px; left:560px;">{{ this.getPieceAt("g3") }}</div>

    <div id="a2" class="field field-light" style="top:480px; left:0px;">{{ this.getPieceAt("a2") }}</div>
    <div id="b2" class="field field-dark" style="top:480px; left:80px;">{{ this.getPieceAt("b2") }}</div>
    <div id="c2" class="field field-light" style="top:480px; left:160px;">{{ this.getPieceAt("c2") }}</div>
    <div id="d2" class="field field-dark" style="top:480px; left:240px;">{{ this.getPieceAt("d2") }}</div>
    <div id="e2" class="field field-light" style="top:480px; left:320px;">{{ this.getPieceAt("e2") }}</div>
    <div id="f2" class="field field-dark" style="top:480px; left:400px;">{{ this.getPieceAt("f2") }}</div>
    <div id="g2" class="field field-light" style="top:480px; left:480px;">{{ this.getPieceAt("g2") }}</div>
    <div id="h2" class="field field-dark" style="top:480px; left:560px;">{{ this.getPieceAt("h2") }}</div>

    <div id="a1" class="field field-dark" style="top:560px; left:0px;">{{ this.getPieceAt("a1") }}</div>
    <div id="b1" class="field field-light" style="top:560px; left:80px;">{{ this.getPieceAt("b1") }}</div>
    <div id="c1" class="field field-dark" style="top:560px; left:160px;">{{ this.getPieceAt("c1") }}</div>
    <div id="d1" class="field field-light" style="top:560px; left:240px;">{{ this.getPieceAt("d1") }}</div>
    <div id="f1" class="field field-dark" style="top:560px; left:320px;">{{ this.getPieceAt("e1") }}</div>
    <div id="e1" class="field field-light" style="top:560px; left:400px;">{{ this.getPieceAt("f1") }}</div>
    <div id="f1" class="field field-dark" style="top:560px; left:480px;">{{ this.getPieceAt("g1") }}</div>
    <div id="g1" class="field field-light" style="top:560px; left:560px;">{{ this.getPieceAt("h1") }}</div>
</div>