/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-modalbox .mat-dialog-container{

    background-color: #20363F;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    .modal-container {
        width: 331px; // match modal size
        height: 313px; // try to remove later
        padding: 20px;
        position: relative;
    }

    .select-mode-button {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    #modal-button-1 {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    #modal-button-2 {
        position: absolute;
        left: 120px;
        bottom: 20px;
     }
     #modal-button-3 {
        position: absolute;
        right: 20px;
        bottom: 20px;
     }
}

.cutom-modal-backdrop {
    background-color: black;
    opacity: 0.8 !important;
}
